.chat-panel{
    position:fixed;
    bottom:0;
    left:20px;
    width:30%;
    background-color: #FFFFFF;
}
.chat-icon{
    position:fixed;
    right:30px;
    top:30%;
    width:70px;
}
.chat-btn{
font-size:1.5rem;
color:white;
}
.messages_display {
    height: 250px; 
    overflow: auto;
    width:100%;
}      
.messages_display .message_item {
    padding: 0;
    margin: 0; 
}       
.bg-danger {
    padding: 10px;
}
.chat-panel{
    display: none;
}
#team_chat_head{
    margin:0;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}