.contributers:nth-child(even){
background-color: green;
 }

#app > div > div > div > div > div.panel-body.team > div.row.contributer:hover div:last-child h4 button.btn.btn-danger {
display:block;

}

#team-members-alert, #teams-alert{
display: none;
}