.row.hover:hover{
background-color: #E9EBEE;

}
.hover{
    margin-top:10px;
}

.hover a{
text-decoration: none;
}    

.navbar-default .navbar-brand{
	color: #821a1a;
	border:1px solid #A6C8FF;
}

.chat-panel{
background-color:gray;
height:100%;
position:static;
}
.chat-head{
color:white;
border-bottom:2px solid;
}
.chat-mate{
  cursor:pointer;
  text-align:center;
  color: #92D0F4;
  background-color:#939393;
  font-weight:bold;
}
.chat-mate p{
display:inline;
}
.chat-active{
  height:10px;
  width:10px;
  background-color:#92F4AD;
  display: inline-block;
  border-radius: 50%;
  margin: 0 10px;
}
@media(max-width:990px)
{
.chat-panel{
height:50px;
width:150px;
overflow:hidden;
cursor:pointer;
position:static;
}
}

.hide-panel{
  height:50px;
  width:150px;
  overflow:hidden;
  cursor:pointer;
  position:static;
}
.fixed-panel{
  height:500px;
  position:fixed;
  top:50;
  right:5;
}
