body {
    margin: 0;
    position: relative;
}
#nodes {
    width: 100%;
    background-color: #EBEDEF;
    height: auto;
    float: right;
    border-radius: 5px;
    overflow: visible;
}
.container1 {
    width: 370px;
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
    /*transform: rotate(90deg);*/
    /*opacity: 0;*/
}
.container1 .bubble {
    width: 200px;
    height: 200px;
    border-left: 5px solid #3097D1;
    color: white;
}
.bubble {
    border-radius: 50%;
    background-color: #F0AD4E;
    width: 170px;
    height: 170px;
    text-align: center;
    transition: 0.3s all;
    border: 0px;
    cursor: pointer;
    display: inline-block;
}
.bubble:hover {
    border-radius:  0 20% 0 0 ;
    border-width:2px;
    border-style: solid;
    border-color: #3097D1;
    position: relative;
    font-size: large;
    transition: 0.5s all;
    top: -10px;
    transform: scale(1.2);
    z-index: 999999999;
    box-shadow: 10px 10px 10px;
}
.container3 {
    width: 170px;
    height: 200px;
    display: inline;
    position: relative;
    overflow: visible;
}
.container3 .bubble a {
    text-decoration: none;
    color: white;
}
.container3 .bubble p {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 80%;
    /*word-break: break-all;*/
    white-space: normal;
    height: 50%;
}
.branch {
    width: 100px;
    height: 4px;
    background-color: #62a1e0;
    display: inline-block;
    /*border-bottom: 5px solid white;*/
    margin-right: -5px;
}
.container2 {
    position: relative;
    height: 300px;
    margin-top: 20px;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 50px;
    animation: train_flow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow-y: visible;
}
.clear {
    clear: both;
    float: none;
}
@keyframes rotateTopBubble {
    0% {
        opacity: 0;
        transform: rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}
@keyframes train_flow {
    0% {
        transform: rotate(90deg);
        left: 500px;
        top: 20%;
        overflow: hidden;
    }
    100% {
        transform: rotate(0deg);
        left: -20px;
        top: 0;
        overflow-x: auto;
    }
}
.rotate-animation {
    animation: rotateTopBubble;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.shadow {
    position: absolute;
    bottom: -55px;
    right: 0px;
    width: 170px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(2, 2, 2, 0.2);
}
.hide-me {
    display: none;
}
.shadow:hover .controls {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    display: inline;
    !important;
}
.shadow .controls a {
    margin-left: 10px;
    font-size: 1.5rem;
    /*background:url('DocBuilder/public/images/export-3.png');*/
}
#assign-alert {
    display: none;
}
#scrolls {
    display: none;
}
#children>div>div.shadow>div>div>ul>li>a:hover {
    background-color: gray;
    color: white;
}
#children>div>div.shadow>div>div>ul>li>.chevron-right {
    display: none;
    position: absolute;
    right: -120px;
    top: 0;
    background-color: white;
    border-left: 2px solid gray;
    padding: 0px 20px;
}
#children>div>div.shadow>div>div>ul>li:hover>.chevron-right {
    display: block;
}
#children>div>div.shadow>div>div>ul>li .chevron-right h4 {
    padding: 5px 20px;
}
#children>div>div.shadow>div>div>ul>li>.chevron-right h4:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}
.glyphicon-cog {
    font-size: 1.6rem;
}
.btn.dropdown-toggle:hover .glyphicon-cog{
    transition: 1s;
    transform: rotate(270deg);
    font-size: 3.5rem;
}
.showPasteMenu {
    z-index: 1000;
    position: absolute;
    background-color: #C0C0C0;
    /*border: 1px solid blue;*/
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
}
.hidePasteMenu {
    display: none;
}

.showPasteMenu a {
    border: 0 !important;
    text-decoration: none;
}
.showPasteMenu a:hover {
    background-color: white;
}

ul.dropdown-menu li.cut-copy a:hover>{
    background-color:gray;
    color:white;
}

@keyframes weight {
    0%{
    left:-500px;
    top:-500px;
    }
    100%{
    left:0;
    top:0;
    }
}
.weight{
    position: relative;
    animation: weight 1.5s cubic-bezier(0, 1.4, 1, 1);

}

@keyframes paste {
    0%{
    left:-300px;
    top:-500px;
    }
    100%{
    left:0px;
    top:100px;
    }
}
.paste{
    position: relative;
    z-index: 999999999;
    animation: paste 0.8s cubic-bezier(0, 1.4, 1, 1);
    animation-fill-mode: backwards;
}

div.shadow > div > div > button{
    transition:1s all;
}

div.bubble.weight:hover > a{
    transition: 0.4s all;
    color:#3097D1;
    border-bottom: 1px solid #3097D1;
}